@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

$color-wrap: 70px;
$color-box: (
    1:  #FFE629,
    2:  #18A6D1,
    3:  #CCC205,
    4:  #54D3D3,
    5:  #9776C1,
    6:  #ED4545,
    7:  #FF9100,
    8:  #65B730,
    9:  #FF6136,
    10: #AD7745,
    11: #FF71A0
);

@for $i from 0 through 13 {
    .title-letter-#{$i} {
        animation: title_animation_#{$i} 5s linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        font-size: 28px;
    }
    @include keyframes(title_animation_#{$i}) {
        0% {
            color: map-get($color-box, $i);
        }
        @for $x from 1 through 11 {
            @if (100/11)*$x < 92 {
                #{(100/11)*$x}% {
                    color: map-get($color-box, random(11)-1);
                }
            }
            @else {
                #{'100%'} {
                    color: map-get($color-box, random(11)-1);
                }
            }
        }
    }
}

@for $i from 1 through 100 {
    .box-#{$i} {
        animation: color_change_#{$i} 5s linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        height: 10px;
        width: 10px;
        float: left;
    }

    @include keyframes(color_change_#{$i}) {
        0% {
            background-color: map-get($color-box, $i);
        }
        @for $x from 1 through 11 {
            @if (100/11)*$x < 92 {
                #{(100/11)*$x}% {
                    background-color: map-get($color-box, random(11)-1);
                }
            } @else {
                #{'100%'} {
                    background-color: map-get($color-box, random(11)-1);
                }
            }
        }
    }
}

.color-wrap {
    max-width: $color-wrap;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    div {
        &:last-child {
            margin-bottom: 25px;
            &:after {
                content: '';
                display: block;
                height: 0;
                clear: both;
            }
        }
    }
}