/* Mixin to generate random number;
   int should be 0 or 1, 1 being to make it an integer 
*/
.makeRandomA(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNumA: @base + @min;
}
/* Mixin to generate second random number;
   int should be 0 or 1, 1 being to make it an integer 
*/
.makeRandomB(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNumB: @base + @min;
}

body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 100vh;
    overflow: hidden;
}

a {
  transition: color .2s, opacity .2s;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}   

.navbar-header {
  width: 100%;
}

.navbar-brand {
    font-size: 12px;
}

.github {
  list-style: none;
  li{
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    a {
      color: #9d9d9d;
      opacity: .6;
      &:hover{
        color: white;
        opacity: 1;
      }
    }
  }
}

#title {
    font-family: Futura, Arial, sans-serif;
    text-align: center;
    position: relative;
    z-index: 2;
    & span:first-child {
        font-size: 32px;
    }
    & span:last-child {
        font-size: 21px;
    }
    @media (max-width: 500px){
        & span:first-child {
            font-size: 28px;
        }
    }
}
span {
    background: linear-gradient(#fff, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#moon > div:first-child {
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    z-index:2;
    @media (max-width: 500px){
        top: 30vh;
    }
}

#info {
    position: relative;
    top: 45vh;
    text-align: center;
    color: white;
    p {
      font-family: Futura, sans-serif;
      font-size: 18px;
      letter-spacing: 2px;
    }
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  &.ng-hide-remove {
    display: none;
  }
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  &.ng-hide-remove {
    display: none;
  }
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

.randomStarField(1,@num,@t1) {
    .makeRandomA(@max: 2000, @int: 1);
    @numA: @randNumA;
    .makeRandomB(@max: 2000, @int: 1);
    @numB: @randNumB;
    @test: ~"@{t1}, @{numA}px @{numB}px #FFF";
}

.randomStarField(@index, @interval, @t1) when (@index > 1) {
    .makeRandomA(@max: 2000, @int: 1);
    @numA: @randNumA;
    .makeRandomB(@max: 2000, @int: 1);
    @numB: @randNumB;
    @t2: "@{t1}, @{numA}px @{numB}px #FFF";
    .randomStarField((@index - 1),@interval,@t2);
}

.randomStarField(@index,@interval) {
    .makeRandomA(@max: 2000, @int: 1);
    @numA: @randNumA;
    .makeRandomB(@max: 2000, @int: 1);
    @numB: @randNumB;
    @t2: "@{numA}px @{numB}px #FFF";
   .randomStarField((@index - 1), @interval, @t2);
}

#stars {
    .randomStarField(700, 5);
    box-shadow: @test;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: @test;
    animation: animStar 50s linear infinite;
    &:after{
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: @test;
    }
}

#stars2 {
    .randomStarField(200, 5);
    box-shadow: @test;   
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: @test;
    animation: animStar 100s linear infinite;
    &:after{
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: @test;
    }
}

#stars3 {
    .randomStarField(100, 5);
    box-shadow: @test;   
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: @test;
    animation: animStar 150s linear infinite;
    &:after{
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: @test;
    } 
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {        
        transform: translateY(-2000px);
    }
}
// injector
// endinjector
