.moon-wrapper {
  position: relative;
  min-height: 225px;

  .outer {
    position: absolute;
    left: 50%;
    border: 1px solid black;
    z-index: 1000;
    overflow: hidden;
    transform: translateX(-50%);
    .inner {
      position: absolute;
    }
  }
}



