@use 'sass:color';

.App {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}

.has-text-gradient {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.moon-phase-title {
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #38495a;
}

.github-link {
  font-size: 1rem;
  color: color.adjust($color: white, $alpha: -0.5);
  &:hover {
    color: white;
  }
}
